@tailwind base;
@tailwind components;
@tailwind utilities;

  
.dark {
--color-bg-primary: #2d3748;
--color-bg-secondary: #283141;
--color-text-primary: #f7fafc;
--color-text-secondary: #e2e8f0;
--color-text-accent: #81e6d9;
}

.light {
--color-bg-primary: #ffffff;
--color-bg-secondary: #edf2f7;
--color-text-primary: #2d3748;
--color-text-secondary: #4a5568;
--color-text-accent: #2b6cb0;
}

*{
    font-family:"Open Sans", sans-serif;
    margin:0px;
    padding:0px;
    border:0px;
}

.card{
    padding: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:20px;
    margin-top:2rem;
    text-decoration: none;
}

.card:hover{
    cursor:pointer;
    text-decoration: none;
    border:1px solid black;
}

.card-title,
.card-tile >a,
.card-link,
.card-link>a{
    margin:0px;
    font-weight:600;
}
.card-date{
    margin:1rem;
    font-size: 1rem;
}

.card-description{
    margin-top: 1rem;
    color: grey;
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    justify-content: center;
    align-items: flex-start;
    margin:0px auto 4rem auto;
    width: 100%;
    max-width: 1080px;
}

.sticky-nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
    width:100%;
    padding: 1rem;
    position: sticky;
    z-index: 10;
    top: 0px;
    backdrop-filter: saturate(180%) blur(40px);    
    transition: backgruond-color 0.1 ease-in-out;
}
.sticky-nav-button{
    color:black;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5%;
    padding: 0.5rem;
    margin-right:1rem;
    display: inline-block;
    text-decoration: none;
}
.sticky-nav-button:hover{
    color:black;
    background: #efefef;
}

.tgl{
    cursor: pointer;
    height: 30px;
    width: 30px;   
    border-radius: 50%;
    border: none;        
    transition: all .5s ease;
}
.active{
    background-color:black;
    color:white;
} 