@tailwind base;
@tailwind components;
@tailwind utilities;


 
*{
    font-family:"Open Sans", sans-serif;
    margin:0px;
    padding:0px;
    border:0px;
}

.fade{
    
    opacity: 1;
}

html{
    overflow: auto;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    max-width: 100%;
    overflow-x:hidden;
    transition: background-color 150ms ease-in-out;
    animation: fadeIn 0.8s ease-in-out;
}

::selection{
    color:white;
    background-color: var(--color-selection);
}

.card{
    padding: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:20px;
    margin-top:2rem;
    text-decoration: none;
}

.tester{
    max-height: calc(60vh - 4rem) !important;
}

.card:hover{
    cursor:pointer;
    text-decoration: none;
    border:1px solid black;
}

.card-title,
.card-tile >a,
.card-link,
.card-link>a{
    margin:0px;
    font-weight:600;
}
.card-date{
    margin:1rem;
    font-size: 1rem;
}

.card-description{
    margin-top: 1rem;
    color: grey;
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    justify-content: center;
    align-items: flex-start;
    margin:0px auto 4rem auto;
    width: 100%;
    max-width: 1280px;
    position: absolute;
    top:0;
    z-index: 2;
}

.sticky-nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
    /* width:100%; */
    padding: 1rem;
    position: sticky;
    z-index: 10;
    top: 0px;
    /* backdrop-filter: saturate(180%) blur(40px);     */
    /* transition: backgruond-color 0.1 ease-in-out; */
}
.sticky-nav-button{
    /* color:black; */
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5%;
    padding: 0.5rem;
    margin-right:1rem;
    display: inline-block;
    text-decoration: none;
}
.sticky-nav-button:hover{
    /* color:black; */
    /* background: #efefef; */
}

.tgl{
    cursor: pointer;
    height: 30px;
    width: 30px;   
    border-radius: 50%;
    border: none;        
    transition: all .5s ease;
}
.active{
    /* background-color:black; */
    border-bottom:2px solid var(--color-text) !important;
    border-radius: 0px !important;
    /* color:var(--color-textHeaders) !important; */
    
} 

.active::before{
    content:'#';
    padding-right: 0.2rem;
}

.cl-white{
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
.cl-green{
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.iconClass{
    cursor: pointer;    
    margin-top:7px;
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.iconClass:hover{
    transform: scale(1.5);
    animation: all 0.3s ease;
}

.background-tester{
    top: 0px;
    width: 100%;
    height: 100vh;

}

.page-background{
    position:absolute;
    top:0;
    width: 100%;
    min-height: 100%;
    overflow: visible;
}
.background-element-container{
    height: 100vh;
    width: 95vw;
    position:absolute;
}

.background-ele{
    position:relative;
    width: 40px;
    height: 40px;
    fill:var(--color-svg);
    left:10%;
    top:75%;
    transform:rotate(45deg);
    opacity:0.2;  
}



.z-fix{
    z-index: -1;
}
.background-plus{
    position: absolute;
    width: 50px;
    height: 75px;
    right:10%;
    top:40%;
    fill:var(--color-svg);
    opacity: 0.5;
    transition: fill 500ms ease-in;
}
.background-plus-1{
    position: absolute;
    width: 35px;
    height: 35px;
    right:54%;
    fill:var(--color-svg);
    top:14%;
    opacity: 0.5;
    transition: fill 500ms ease-in;
}
.background-plus-2{
    position: absolute;
    width: 45px;
    height: 45px;
    right:55%;
    fill:var(--color-svg);
    top:50%;
    opacity: 0.5;
    transition: fill 500ms ease-in;
}
.bg-blob-span{
    animation: turn 30s linear infinite;
    position: absolute;
    top: calc(-90%); 
    left: -10%;   
}
.bg-blob{
    transform: scale(3);
    fill:var(--color-svgBackgroundBlob);
    opacity: 0.2;
    transition: fill 800ms ease-in;
}
.img-container{
    transform:perspective(600px) rotateY(2deg) !important;
}


.img{
    transform:perspective(600px) rotateY(4deg) translateX(6px) translateY(3px) !important;    
}
.img-container-right{
    transform:perspective(600px) rotateY(-2deg) !important;
}

.img-right{
    transform:perspective(600px) rotateY(-4deg) translateX(-6px) translateY(3px) !important;    
}

.gatsby-image-wrapper{
    overflow:visible;
}

.lst{
    margin-left: auto !important;
}

.fixer{
    height: unset important;
}

.img-bg{
    background-color: var(--color-imgBackground);
}

.click-me{
    position: absolute;
    bottom: 0px;
    margin: 0px auto;
    left: 50%;
    width: fit-content;
    display: table;
    transform: translate(-50%, 0%);
    padding: 1px 10px 1px 10px;
    border-radius: 15px 15px 0px 0px;
}

p{
    display: inline-block;
    font-size: 1.30rem;
    font-weight: 500;
    /* color: var(--color-textHigilight); */
}

.header{
    color:var(--color-textHeaders);
}

.exp-list-outer-container{
    width: 80vw;
    margin-left: calc(-40vw + 50%);
    border-radius: 15px;
}

.footer-outer-container{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

@media (min-width: 768px) { 
    .fixer{
        height: 8rem !important;
    }
}

@media (max-width: 768px) { 
    .bg-blob{
        transform: scale(1);
        max-width: 100vw;
    }   
    .background-ele{
        display:none;
    }
    .background-element-container{
        display: none;
    }
    .bg-blob-span{
        top: -30%; 
        left: -30%;   
    }
    .sticky-nav-button{
        margin-right:0;
    }
    .menu-open{
        min-height: 25vh;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        display: flex;
        flex-grow: 1;
        width: 70%;
        justify-items: flex-start;
    }
    .lst{
        margin-left: unset !important;
    }
    .mobile-footer{
        background-color: black;
        color:white;
        width: 100%;
        left: 0;
    }
}

@keyframes turn{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1turn);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.edu-title:before{
    /* content:'\2799'; */
    content:'\2022';
    font-weight:bold;
    font-size: 1.2rem;
    padding-right:0.5rem;
    /* padding-right:1rem; */
}

.bg-blue{
    background-color:var(--color-blocks);
}

.bg-pills-sec{
    background-color:var(--color-bgpillsSec);    
    color:var(--color-textInv);    
}

.bg-dark-blue{
    background-color:var(--color-eleDarkBlue);
    color:var(--color-textInv);
}


.blocks-bg{
    background: var(--color-blocks);
}

.blocks-bg:hover{
    background: var(--color-blocksHover); 
}

.blocks-bg:hover div{
    color:white;
}

.hover-fix:hover div{
    color:white !important;
}


.bg-pills{
    background-color:var(--color-bgpills);
    color:var(--color-textBright);
    display: inline;
    width: fit-content;
    white-space: nowrap;
}

.bright{
    color:var(--color-textBright);
}

.blocks-bg:hover .bg-pills{
    background-color:white;
    color:black;
}

.blocks-bg:hover .bg-pills-sec{
    background-color:white;
    color:black;
}
.footer{
    background-color:var(--color-footer); 
    color:var(--color-textBright);
}

/* Blog MDX Styles */
h2{
    
}

.gatsby-highlight-code-line {
    background-color: #feb;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #f99;
  }